---
layout: home
image: /images/ConnorSheaPhotoTwitter.png
---

<div class="home-column">
  <div class="home-title-container">
    <p>{{ site.title }}</p>
    <p class="home-subtitle">{{ site.description }}</p>
  </div>

  <picture class="self-image">
    <source srcset="{{ '/images/ConnorSheaPhoto.png' | prepend: site.baseurl }}" type="image/png">
    <img src="{{ '/images/ConnorSheaPhoto.png' | prepend: site.baseurl }}" alt="Connor Shea">
  </picture>

  <div id="contact-container">
    <div class="svg-container">
      <!--
      ==================
              SVGs
      ==================
      -->

      <!-- GitLab -->
      <svg height="0" width="0" viewBox="0 0 36 36" >
        <g id="gitlab">
          <path class="c" d="M33,20L31.33,14.8h0L28,4.52a0.57,0.57,0,0,0-.8-0.34,0.56,0.56,0,0,0-.3.34L23.55,14.8H12.45L9.81,6.68,9.11,4.52l0-.09a0.55,0.55,0,0,0-.26-0.25,0.59,0.59,0,0,0-.64.1h0A0.58,0.58,0,0,0,8,4.52L4.67,14.8,3.86,17.3,3,20a1.15,1.15,0,0,0,.42,1.28L18,31.88h0l14.6-10.6A1.15,1.15,0,0,0,33,20Z"/>
        </g>
      </svg>

      <!-- GitHub -->
      <svg height="0" width="0" viewBox="0 0 36 36" >
        <g id="github">
          <path d="M19.999,2.917c-9.452,0-17.119,7.662-17.119,17.12c0,7.562,4.905,13.979,11.709,16.242c0.854,0.156,1.167-0.372,1.167-0.825
            c0-0.406-0.014-1.482-0.023-2.912c-4.762,1.034-5.767-2.295-5.767-2.295c-0.778-1.979-1.9-2.504-1.9-2.504
            c-1.554-1.062,0.116-1.04,0.116-1.04c1.718,0.119,2.623,1.763,2.623,1.763c1.527,2.617,4.007,1.863,4.983,1.426
            c0.156-1.107,0.598-1.861,1.086-2.29c-3.801-0.433-7.797-1.9-7.797-8.461c0-1.868,0.667-3.398,1.762-4.593
            c-0.176-0.435-0.763-2.173,0.168-4.532c0,0,1.437-0.459,4.708,1.756c1.366-0.38,2.83-0.572,4.286-0.575
            c1.454,0.003,2.918,0.195,4.286,0.575c3.268-2.215,4.704-1.756,4.704-1.756c0.933,2.359,0.346,4.098,0.17,4.532
            c1.097,1.194,1.759,2.725,1.759,4.593c0,6.578-4.003,8.024-7.816,8.447c0.615,0.529,1.162,1.573,1.162,3.17
            c0,2.291-0.021,4.135-0.021,4.697c0,0.457,0.307,0.991,1.177,0.823c6.796-2.269,11.697-8.681,11.697-16.24
            C37.12,10.578,29.454,2.917,19.999,2.917z"/>
        </g>
      </svg>

      <!-- Behance -->
      <svg height="0" width="0" viewBox="0 0 34 22" >
        <g id="behance">
          <path d="M23.9,28.91c1.59,1.283,3.426,1.925,5.504,1.925c2.522,0,4.481-0.761,5.881-2.28
            c0.902-0.958,1.406-1.898,1.517-2.826h-4.173c-0.242,0.459-0.523,0.817-0.841,1.075c-0.582,0.479-1.339,0.718-2.27,0.718
            c-0.879,0-1.629-0.197-2.252-0.59c-1.026-0.632-1.571-1.73-1.636-3.298h11.384c0.021-1.351-0.024-2.384-0.136-3.103
            c-0.189-1.225-0.604-2.303-1.245-3.23c-0.708-1.054-1.609-1.825-2.7-2.313c-1.09-0.488-2.314-0.731-3.676-0.731
            c-2.29,0-4.153,0.722-5.59,2.167c-1.436,1.443-2.152,3.52-2.152,6.228C21.516,25.544,22.31,27.628,23.9,28.91z M26.819,18.519
            c0.579-0.594,1.392-0.892,2.438-0.892c0.966,0,1.773,0.28,2.426,0.841s1.016,1.386,1.089,2.469h-7.041
            C25.879,19.921,26.241,19.116,26.819,18.519z"/>
          <path d="M15.495,30.017c0.916-0.19,1.714-0.544,2.388-1.062c0.598-0.45,1.097-1.003,1.499-1.663
            c0.626-0.995,0.94-2.119,0.94-3.371c0-1.213-0.274-2.246-0.823-3.095c-0.55-0.853-1.363-1.474-2.442-1.866
            c0.711-0.363,1.248-0.764,1.614-1.205c0.651-0.783,0.979-1.822,0.979-3.113c0-1.252-0.324-2.328-0.971-3.226
            c-1.074-1.461-2.901-2.212-5.477-2.251H2.981v21.137h9.525C13.579,30.304,14.577,30.208,15.495,30.017z M7.197,12.836h4.598
            c1.013,0,1.846,0.11,2.498,0.331c0.757,0.314,1.136,0.966,1.136,1.949c0,0.889-0.287,1.508-0.859,1.857
            c-0.571,0.35-1.316,0.523-2.235,0.523H7.197V12.836z M7.197,26.633v-5.635H12.4c0.909,0.009,1.612,0.127,2.114,0.356
            c0.896,0.411,1.346,1.166,1.346,2.265c0,1.3-0.463,2.18-1.389,2.641c-0.51,0.248-1.224,0.371-2.14,0.371H7.197V26.633z"/>
          <rect x="24.398" y="10.381" width="9.187" height="2.134"/>
        </g>
      </svg>

      <!-- LinkedIn -->
      <svg height="0" width="0" viewBox="0 0 25 25" >
        <g id="linkedin">
          <rect x="8.143" y="15.928" width="5.129" height="16.574"/>
          <ellipse cx="10.682" cy="10.702" rx="3.034" ry="3.058"/>
          <path d="M21.471,23.802c0-2.329,1.072-3.718,3.125-3.718c1.887,0,2.793,1.333,2.793,3.718c0,2.387,0,8.698,0,8.698
            h5.105c0,0,0-6.054,0-10.493c0-4.438-2.516-6.584-6.028-6.584c-3.516,0-4.995,2.737-4.995,2.737v-2.233h-4.92V32.5h4.92
            C21.471,32.5,21.471,26.355,21.471,23.802z"/>
        </g>
      </svg>

      <!-- Email icon -->
      <svg height="0" width="0" viewBox="0 0 20 15" >
        <g id="email-svg">
          <path d="M14.721,7.027l-4.706,3.606L5.296,7.042l-5.271,5.241l0.003,1.594c0.001,0.458,0.399,0.829,0.888,0.827
            l18.209-0.029c0.488,0.001,0.885-0.37,0.884-0.829l-0.003-1.591L14.721,7.027z"/>
          <polygon points="4.178,6.19 0.012,3.02 0.022,10.322 "/>
          <polygon points="15.839,6.173 20.004,10.291 19.993,2.99 "/>
          <path d="M19.104,0.296L0.895,0.322C0.405,0.324,0.009,0.694,0.01,1.153v0.355l10.003,7.614l9.979-7.644V1.123
            C19.99,0.664,19.592,0.294,19.104,0.296z"/>
        </g>
      </svg>
    </div>

    <!-- GitLab Icon -->
    <a href="https://gitlab.com/u/connorshea" title="GitLab" class="tooltip">
      <div class="icon-container" id="gitlab-icon-container">
        <svg id="gitlab-icon" class="icon" height="45" width="45">
          <use xlink:href="#gitlab"></use>
        </svg>
      </div>
    </a>

    <!-- GitHub Icon -->
    <a href="https://www.github.com/connorshea" title="GitHub" class="tooltip">
      <div class="icon-container" id="github-icon-container">
        <svg id="github-icon" class="icon" height="45" width="45">
          <use xlink:href="#github"></use>
        </svg>
      </div>
    </a>

    <!-- LinkedIn Icon -->
    <a href="https://www.linkedin.com/in/connorshea" title="LinkedIn" class="tooltip">
      <div class="icon-container" id="linkedin-icon-container">
        <svg id="linkedin-icon" class="icon" height="45" width="45">
          <use xlink:href="#linkedin"></use>
        </svg>
      </div>
    </a>
  </div>
</div>

<div class="home-column">
  <div class="home-list-container">
    <ul id="home-tabs" class="home-tabs">
      <li data-tab="tab-1" class="home-tab current">Portfolio
      <li data-tab="tab-2" class="home-tab">Blog
    </ul>

    <div id="portfolio-list-container" class="tab-content tc-tab-1 current">
      <ul>
        <!-- TODO: Fix this, it is stupid -->
        {% for project in site.data.portfolio reversed limit:5 offset:2 %}
          <li class="home-list-item portfolio-list-item">
            <div class="home-list-item-image">
              <picture>
                <source srcset="/images/portfolio/{{project.thumbnail}}">
                <img src="/images/portfolio/{{project.thumbnail}}" alt="{{project.title}}">
              </picture>
            </div>
            <a href="{% link portfolio/index.html %}">
              <p class="home-list-item-title">{{ project.title }}</p>
              <p class="home-list-item-subtitle portfolio-project-role">{{ project.role }}</p>
              <p class="home-list-item-subtitle portfolio-project-date">{{ project.date_range }}</p>
            </a>
          </li>
        {% endfor %}
        <li class="view-more"><a href="{% link portfolio/index.html %}">View more <span>›</span></a></li>
      </ul>
    </div>

    <div id="blog-list-container" class="tab-content tc-tab-2">
      <ul>
        {% for post in site.posts limit:5 %}
          <li class="home-list-item">
            <a href="{{ post.url }}">
              <p class="home-list-item-title">{{ post.title }}</p>
              <p class="home-list-item-subtitle">{{ post.date | date: "%B %-d, %Y" }}</p>
            </a>
          </li>
        {% endfor %}
        <li class="view-more"><a href="{% link blog/index.html %}">View more <span>›</span></a></li>
      </ul>
    </div>

  </div>
</div>
