.portfolio {
  max-width: calc(#{$content-width} - (#{$spacing-unit} * 2));
  width: 100%;
  margin: auto;
  padding: 0 15px;

  ul {
    list-style: none;
    display: flex;
    flex-flow: column wrap;
  }

  a {
    font-size: 16px;
    display: inline;
  }

  @media screen and (max-width: 960px) {
    width: 100%;
    max-width: 100%;
  }
}

.portfolio-project-list-item {
  width: 100%;
  border-bottom: 1px solid transparentize($text-color, 0.9);
  display: flex;
  flex-flow: row nowrap;
  padding: 16px 0;

  @include media-query($on-palm) {
    margin-right: 0;
    padding: 24px 8px;
    flex-flow: row wrap;
    text-align: center;
    width: auto;
  }
}

.portfolio-project-title {
  margin: 0;
  font-weight: 500;
  font-size: 18px;
  font-family: $sans-serif;
  padding-bottom: 4px;
}

.portfolio-project-description {
  font-family: $slab-serif;
  font-size: 16px;
  padding-bottom: 20px;
}

.portfolio-project-thumbnail {
  width: 80px;
  height: 80px;
  border-radius: 3px;
  display: block;
  margin-right: 24px;
  
  picture {
    overflow: hidden;
    border-radius: 4px;
    display: block;
    width: 80px;
    height: 80px;
  }

  @include media-query($on-palm) {
    margin: auto;
    margin-bottom: 40px;
  }
}

.portfolio-project-link {
  height: 24px;
  width: 24px;
  margin: auto;
  margin-top: 10px;

  a {
    opacity: 0.4;
    transition: opacity 400ms;

    &:hover {
      opacity: 1;
    }
  }
}

.portfolio-project-meta {
  font-size: 14px;
  font-family: $slab-serif;
}

.portfolio-project-role {
  font-weight: 400;
  color: transparentize($text-color, 0.2);
}

.portfolio-project-date {
  font-weight: 400;
  color: transparentize($text-color, 0.5);
}
