---
layout: page-nowrapper
title: "Portfolio"
permalink: /portfolio/
---

<div class="portfolio">

  <ul>
    {% for project in site.data.portfolio reversed %}
      <li class="portfolio-project-list-item">
        <div class="portfolio-project-thumbnail">
          <picture>
            <source srcset="/images/portfolio/{{project.thumbnail}}">
            <img src="/images/portfolio/{{project.thumbnail}}" alt="{{project.title}}">
          </picture>

          <div class="portfolio-project-link">
            <a href="{{ project.link }}"><img src="/images/icons/link.svg" alt="Link"></a>
          </div>
        </div>

        <div class="portfolio-project-information">
          <h4 class="portfolio-project-title">{{ project.title }}</h4>
          <p class="portfolio-project-description">{{ project.description }}</p>
          <p class="portfolio-project-meta portfolio-project-role">{{ project.role }}</p>
          <p class="portfolio-project-meta portfolio-project-date">{{ project.date_range }}</p>
        </div>
      </li>
    {% endfor %}
  </ul>

</div>
