---
layout: default
---

<div class="page">
  <header class="page-header">
    <p class="post-backlink"><a href="{% link blog/tags/index.html %}">Tags</a></p>
    <h1 class="page-title">{{ page.tag['name'] }}</h1>
  </header>

  <ul class="post-list">
    {% if page.tagged_posts.size > 0 %}
      {% for post in page.tagged_posts %}
        <li>
          <span class="post-meta">{{ post.date | date: "%B %-d, %Y" }}</span>

          <h2><a class="post-link" href="{{ post.url }}">{{ post.title }}</a></h2>

          {{ post.excerpt }}
        </li>
      {% endfor %}
    {% else %}
      <p>There are no posts for this tag.</p>
    {% endif %}
  </ul>
</div>
